@font-face {
    font-family: "FuturaDemiC", sans-serif;
    src: url('../assets/fonts/futurademic.otf') format("OpenType");
}
@font-face {
    font-family: "FuturaBookC", sans-serif;
    src: url('../assets/fonts/futurabookc.otf') format("OpenType");
}
@font-face {
    font-family: "Yeseva One";
    src: url('../assets/fonts/YesevaOne.ttf') format("TrueType");
}
@font-face {
    font-family: "FuturaMediumC", sans-serif;
    src: url('../assets/fonts/FuturaMedium.ttf') format("TrueType");
}
@font-face {
    font-family: "Proxima Nova", sans-serif;
    src: url('../assets/fonts/ProximaNovaRegular.ttf') format("TrueType");
}