@import "scss/variables";

.wrapper {
    background-color: $primary-color;
    padding-left: $padding-general;
    height: 100%;
}

.header {
    padding: 0 $padding-general 0 0;
    height: 90px;
    @include flex();
    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.logo--link {
    @extend %links;
    @include font_futura_demi();
    color: $emphasis-color;
}

.navbar--list {
    list-style-type: none;
    @include flex($align: center);
    @extend %mobile-none;
}

.navbar--item {
    width: calc(100% / 7);
    margin: 0 1rem;
}

.navbar--link {

    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    @extend %links;
    @include font_book();

    &:hover {
        color: lighten($emphasis-color, 10%);
    }

    &:active {
        color: $emphasis-color;
    }
}

.tel--link {
    @extend %links;
    @include font_futura_demi();
}

.header--button {
    .button {    
        @include font_futura_demi();
        @include button(); 
    }
}

.banner {
    height: 1124px;
    background-image: url('./assets/images/background-banner.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    @extend %background;
    
    h2 {
        width: 28%;
        margin-left: 7%;
        margin-top: 0;
        margin-bottom: 0;
        @include font_YesevaOne();
        span {
            color: $emphasis-color;
        }
    }
    p {
        width: 30%;
        margin-left: 7%;
        margin-bottom: 2%;
        letter-spacing: 1px;
        @include font_book($font-size: 1.37rem, $line-height: 2.2rem, $transform: none)
    }
    .banner--button_group {
        display: flex;
        flex-direction: row;
    }
    .banner--button {
        @include font_futura_demi();
        @include button($padding: 1.5rem 2rem);
        width: 13%;
        &:first-child {
            margin-left: 7%;
        }
        &:hover {
            color: $primary-color;
            background-color:  $hover-color;
            border: 0;
        }
    }
    .banner--button-transparent {
        margin: 0 0.5%;
        background-color: transparent; 
        border: solid 1px $emphasis-color;
    }
    .banner--scroll_down {
        position: absolute;
        top: 155%;
        left: 0;        
        
        .button {
            @include flex($align:center, $justify:space-between, $direction: row);
            @include button($background: $primary-color,  $padding: 0);
            width: 100%;
            &:hover {
                background-color: $hover-color;
                p {
                    color: $primary-color; 
                }
            }
            p {
            @include font_YesevaOne($font-size: 0.9rem, $line-height: 1.2rem, $transform: uppercase, $color:$secondary-color);
            width: 90%;
            margin: 0;
            padding: 1rem 0 1rem 2rem;
            }

            img {
                padding: 2rem 2.5rem 2rem 2rem;
            }
        }
        

    }

    .sidebar {
        position: absolute;
        left: 0;
        top: 1051px;
        
        p {
            display: flex;
            flex-direction: row;
            align-items: center;
            transform: rotate(90deg);
            width: 1124px;
            height: 5%;
            margin-left: -45%;
            a {
                @extend %links;
                @include font_futura_demi();
                color: $emphasis-color;
                margin-right: 40px;
                
            }
            
            img {
                width: 2px;
                transform: rotate(90deg);
                // padding-right: 4px;
            }
        
        }
        
    }

}






.projects {
    height: 855px;
    background-color: $primary-color;
}

.projects--navbar {
    @extend %mobile-none;

} 
.projects--list {

}
.projects--item {

}
.projects--link {

}

.project_example {

}
.project_example--caption {

}
.project_example--description {

}
.project_example--property {

}
.project_example--property_description {

}
.slider {
    @media screen and (max-width: $mobile) {
    width: 100%;
    }
}
.slider--image
.slider--button {
    .button {}
}

.online-control {
    height: 750px;
    background-color: $secondary-color;

}

.online_control--video {
    @media screen and (max-width: $mobile) {
        width: 100%;
        
    }
}

.form {
    form{
        @media screen and (max-width: $mobile) {
            width: 100%;
            @include flex ($direction:column);
        }
    }
}

.types_of_repair {
    @include flex();
    @media screen and (max-width: $mobile) {
        @include flex ($direction:column);
    }
}

.advantsges {
    @extend %mobile-none;
}

.we_realise {
    .we_realise--slider {
        display: none;
        @media screen and (max-width: $mobile) {
            display: block;
        }
    }
}

.design-project {
    @include flex();
    @media screen and (max-width: $mobile) {
        @include flex ($direction:column);
    }
}

.how_work {
    
    @extend %mobile-none;

}

.our_team {
    @include flex();
    @media screen and (max-width: $mobile) {
        @include flex ($direction:column);
    }
    & p:last-child {
        @extend %mobile-none;
    }
}

.our_clients {

    @extend %mobile-none;
}

.contact_form {
    @media screen and (max-width: $mobile) {
        @include flex ($direction:column);
    }
}

.map {
    @media screen and (max-width: $mobile) {
        width: 100%;
    }

}

.footer {
    @extend %mobile-none;
}




// main {
//     height: 100vh;
//     margin-top: 314px;
//     display: flex;
// }
// main div {
//     border: solid 5px red;
//     flex-grow: 1;

// }
// footer {
//     height: 20vh;;
// }

// @media (max-width: 800px) {
//     .sidebar {
//         display: none;
//     }
//     .wrapper {
//         margin: 0;
//         width: 100vw;
//     }
// }

