@font-face {
  font-family: "FuturaDemiC", sans-serif;
  src: url("./assets/fonts/futurademic.otf") format("OpenType");
}

@font-face {
  font-family: "FuturaBookC", sans-serif;
  src: url("./assets/fonts/FuturaBookC.ttf") format("TrueType");
}

@font-face {
  font-family: "Yeseva One";
  src: url("./assets/fonts/YesevaOne.ttf") format("TrueType");
}

.logo--link, .navbar--link, .tel--link, .banner .sidebar p a {
  text-decoration: none;
  color: #ffffff;
}

.banner {
  width: 100%;
  background-size: cover;
}

@media screen and (max-width: 375px) {
  .navbar--list, .projects--navbar, .advantsges, .how_work, .our_team p:last-child, .our_clients, .footer {
    display: none;
  }
}

.wrapper {
  background-color: #000000;
  padding-left: 5.5%;
  height: 100%;
}

.header {
  padding: 0 5.5% 0 0;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 375px) {
  .header {
    width: 100%;
  }
}

.logo--link {
  font-family: "FuturaDemiC";
  font-size: 0.9rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #E3B873;
  font-weight: bold;
  color: #E3B873;
}

.navbar--list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar--item {
  width: calc(100% / 7);
  margin: 0 1rem;
}

.navbar--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
  font-family: "FuturaBookC", sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #ffffff;
}

.navbar--link:hover {
  color: #ecce9e;
}

.navbar--link:active {
  color: #E3B873;
}

.tel--link {
  font-family: "FuturaDemiC";
  font-size: 0.9rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #E3B873;
  font-weight: bold;
}

.header--button .button {
  font-family: "FuturaDemiC";
  font-size: 0.9rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #E3B873;
  font-weight: bold;
  padding: 1rem 2rem;
  color: #ffffff;
  background-color: #E3B873;
  border: 0;
  border-radius: 2px;
}

.banner {
  position: relative;
  height: 750px;
  background-image: url("./assets/images/background-banner.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner h2 {
  width: 37%;
  margin-left: 7%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Yeseva One";
  font-size: 2.5rem;
  line-height: 3.3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.banner h2 span {
  color: #E3B873;
}

.banner > p {
  width: 40%;
  margin-left: 7%;
  margin-bottom: 2%;
  letter-spacing: 1px;
  font-family: "FuturaBookC", sans-serif;
  font-size: 1.37rem;
  line-height: 2.2rem;
  text-transform: none;
  color: #ffffff;
}

.banner .banner--button_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.banner .banner--button {
  font-family: "FuturaDemiC";
  font-size: 0.9rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #E3B873;
  font-weight: bold;
  padding: 1rem 2rem;
  color: #ffffff;
  background-color: #E3B873;
  border: 0;
  border-radius: 2px;
  width: 14%;
}

.banner .banner--button:first-child {
  margin-left: 7%;
}

.banner .banner--button:hover {
  color: #000000;
  background-color: rgba(152, 152, 152, 0.9);
  border: solid 1px transparent;
}

.banner .banner--button-transparent {
  margin: 0 0.5%;
  background-color: transparent;
  border: solid 1px #E3B873;
}

.banner .banner--scroll_down {
  position: absolute;
  top: 94%;
  left: -6%;
}

.banner .banner--scroll_down .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
  border: 0;
  border-radius: 2px;
  width: 100%;
}

.banner .banner--scroll_down .button:hover {
  background-color: rgba(152, 152, 152, 0.9);
}

.banner .banner--scroll_down .button:hover p {
  color: #000000;
}

.banner .banner--scroll_down .button p {
  font-family: "Yeseva One";
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  width: 90%;
  margin: 0;
  padding: 1rem 0 1rem 2rem;
}

.banner .banner--scroll_down .button img {
  padding: 2rem 2.5rem 2rem 2rem;
}

.banner .sidebar {
  position: absolute;
  left: -6%;
  /*relatively banner*/
  top: 79%;
}

.banner .sidebar p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 750px;
  height: 5%;
  margin-left: -45%;
}

.banner .sidebar p a {
  font-family: "FuturaDemiC";
  font-size: 0.9rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #E3B873;
  font-weight: bold;
  color: #E3B873;
  margin-right: 40px;
}

.banner .sidebar p img {
  width: 2px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.projects {
  height: 855px;
  background-color: #000000;
}

@media screen and (max-width: 375px) {
  .slider {
    width: 100%;
  }
}

.online-control {
  height: 750px;
  background-color: #ffffff;
}

@media screen and (max-width: 375px) {
  .online_control--video {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .form form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.types_of_repair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 375px) {
  .types_of_repair {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.we_realise .we_realise--slider {
  display: none;
}

@media screen and (max-width: 375px) {
  .we_realise .we_realise--slider {
    display: block;
  }
}

.design-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 375px) {
  .design-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.our_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 375px) {
  .our_team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .contact_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .map {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */